
  <div class="flex flex-col gap-2 h-full">
    <div class="flex flex-row w-full items-center justify-between">
        <p class="text-md md:text-2xl font-bold capitalize">Trendline plot</p>
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost p-1 aspect-square"><i class="fa-solid fa-filter "></i></div>
            <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                <li><a (click)="duration.set(-1)">Show all data</a></li>
                <li><a (click)="duration.set(365)">Show last 1 year</a></li>
                <li><a (click)="duration.set(180)">Show last 6 months</a></li>
                <li><a (click)="duration.set(90)">Show last 3 months</a></li>
                <li><a (click)="duration.set(30)">Show last 1 month</a></li>
                <li><a (click)="duration.set(14)">Show last 2 weeks</a></li>
                <li><a (click)="duration.set(7)">Show last 1 week</a></li>
            </ul>
        </div>
    </div>
    <span class="text-sm text-muted-foreground tracking-tighter">
        This chart tracks how your Valence (how positive or negative you felt), Activation (how energized or calm you felt), and Star Rating (your overall quantitative score) have evolved in last weeks
    </span>
    <div class="container rounded-lg bg-base-300 w-full aspect-3/2">
        <canvas 
            baseChart
            [data]="chartData()"
            [options]="chartOptions"
            [type]="'line'">
        </canvas>
    </div>
  </div>
